@page
@model Week3_BankAccount.Pages.Accounts.EditModel

@{
    ViewData["Title"] = "Alter Account";
}

<h1>Edit Account</h1>

<h4>What creative managerial decisions await this account?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BankAccount.IDNumber" />
            <div class="form-group">
                
                <label asp-for="BankAccount.CurrentBalance" class="control-label"></label>
                <input asp-for="BankAccount.CurrentBalance" class="form-control" />
                <span asp-validation-for="BankAccount.CurrentBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="BankAccount.Name" class="control-label"></label>
                <input asp-for="BankAccount.Name" class="form-control" />
                <span asp-validation-for="BankAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="BankAccount.IRSNumber" class="control-label"></label>
                <input asp-for="BankAccount.IRSNumber" class="form-control" />
                <span asp-validation-for="BankAccount.IRSNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="BankAccount.AccountholderID" class="control-label"></label>
                <input asp-for="BankAccount.AccountholderID" class="form-control" />
                <span asp-validation-for="BankAccount.AccountholderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
