################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment 2/RecruitCatTreutewm/obj/*

/Assignment 2/RecruitCatTreutewm/bin/*
/Assignment 2/RecruitCatTreutewm/.vs/*
*.user