################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment 2/RecruitCatTreutewm/obj/*

/Assignment 2/RecruitCatTreutewm/bin/*
/Assignment 2/RecruitCatTreutewm/.vs/*
*.user
/Assignment 2/RecruitCatTreutewm/RecruitCatTreutewm.csproj.user
/Week3/Week3_BankAccount/.vs/Week3_BankAccount
/Week3/Week3_BankAccount/bin/Debug/net9.0
/Week3/Week3_BankAccount/obj
