@page
@model IndexModel
@{
    ViewData["Title"] = "";
}


<div class="titlebanner">
    <h1>[Recruiting Company]</h1>
    <h4>Established 1920</h4>
</div>


<div class="content-block">
<h2>Contact Us?</h2>
<p>
    Please direct all inquiries to <br/></br>
    &Tab;1000 4th Ave,<br/>
    &Tab;Cincinnati, OH 45000<br/><br/>
    (317) 206-4741
</p>
</div>

<div class="content-block">
    <h2>How May WE Help YOU?</h2>
    <p>
        Friends. Romans. Countrymen. Whatever your audience needs, we have the persons to fill them.<br/>
        Perhaps your in-person class attendance has plummeted in recent years. Perhaps the movie you're watching is very scary. Perhaps you're at a Reds game that doesn't feature an all-star on the opposing team.<br/>
        Whatever your situation, no matter how big or small, we shall stop at nothing to provide you with proximate individuals.
    </p>

    <h2>Primary Industry</h2>
    <p>
        Our business is a key player in the domestic bystander market.<br />
        While we do not possess the resources to compete in similar-sounding areas, our resounding success in our targeted specialty promises to sustain us for years to come.
    </p>
</div>

<div class="content-block">
    <h2>How May WE Help YOU?</h2>
    <p>
        Friends. Romans. Countrymen. Whatever your audience needs, we have the persons to fill them.<br />
        Perhaps your in-person class attendance has plummeted in recent years. Perhaps the movie you're watching is very scary. Perhaps you're at a Reds game that doesn't feature an all-star on the opposing team.<br />
        Whatever your situation, no matter how big or small, we shall stop at nothing to provide you with proximate individuals.
    </p>

    <h2>Primary Industry</h2>
    <p>
        Our business is a key player in the domestic bystander market.<br />
        While we do not possess the resources to compete in similar-sounding areas, our resounding success in our targeted specialty promises to sustain us for years to come.
    </p>
</div>

<div class="content-block">
    <h2>What are people saying about us?</h2>
    <p>
        Friends. Romans. Countrymen. Whatever your audience needs, we have the persons to fill them.<br />
        Perhaps your in-person class attendance has plummeted in recent years. Perhaps the movie you're watching is very scary. Perhaps you're at a Reds game that doesn't feature an all-star on the opposing team.<br />
        Whatever your situation, no matter how big or small, we shall stop at nothing to provide you with proximate individuals.
    </p>

    <h2>Primary Industry</h2>
    <p>
        Our business is a key player in the domestic bystander market.<br />
        While we do not possess the resources to compete in similar-sounding areas, our resounding success in our targeted specialty promises to sustain us for years to come.
    </p>
</div>


<div class="text-center">
    <p>This page still needs:</p>
    <ul>
        <li>Testimonials</li>
        <li>"Marketing content that describes process to apply"</li>
        <li></li>
    </ul>
</div>
