@page
@model IndexModel
@{
    ViewData["Title"] = "BuyStanders";
}

@section Styles {
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
        .swiper {
          width: 100%;
          height: 300px;
        }
    </style>
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module">
        // Code taken from SwiperJS page (https://swiperjs.com/get-started) 
        import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
          const swiper = new Swiper('.swiper', {
          // Optional parameters
          direction: 'vertical',
          loop: true,

          // If we need pagination
          pagination: {
            el: '.swiper-pagination',
          },

          // Navigation arrows
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },

          // And if we need scrollbar
          scrollbar: {
            el: '.swiper-scrollbar',
          },
        });

    </script>
}

<div class="container">
    <img class="rounded text-center" src="https://www.shutterstock.com/shutterstock/photos/2483606255/display_1500/stock-vector-crowd-of-people-black-silhouette-2483606255.jpg" alt="A crowd of individuals, just waiting to fill your business or non-business needs." style="width: 20em;" />

    <div class="content-block  row">
        <h2>How May <i>WE</i> Help <i>YOU</i>?</h2>
        <p>
            Friends. Romans. Countrymen. You have audience needs, we have the persons to fill them.<br/>
            Perhaps your in-person class attendance has plummeted in recent years. Perhaps the movie you're watching is very scary. Perhaps you're at a Reds game that doesn't feature an all-star on the opposing team.<br/>
            Whatever your situation, no matter how big or small, we shall stop at nothing to provide you with proximate individuals.
        </p>
    </div>
    <div class="content-block row">
        <h2>Primary Industry</h2>
        <img src="https://as1.ftcdn.net/v2/jpg/15/01/43/02/1000_F_1501430218_8qSoBGVItnVY9E3rM6y0G0sWDBSCzomM.jpg"  style="height: 10em; width: 20em;"/>
        <p>
            Our business is a key player in the domestic bystander market.<br />
            While we do not possess the resources to compete in similar-sounding areas, our resounding success in our targeted specialty promises to sustain us for years to come.
        </p>
    </div>
    
    <!-- This code also taken from SwiperJS page (see above) -->
    <div class="content-block swiper">
        <h2>What are people saying about us?</h2>
        <div class="swiper-wrapper align-middle">
            <!-- Slides -->
            <div class="swiper-slide">
                <blockquote>
                    "I feel positively about this company."
                </blockquote>
                <cite>John</cite>
            </div>
            <div class="swiper-slide">
                <blockquote>
                    "Thanks."
                </blockquote>
                <cite>Donald Zackary 'Zack Greinke' Greinke</cite>
            </div>
            <div class="swiper-slide">
                <blockquote>
                    "When he who was of my very flesh was stricken down, there was nought but me to mourn him. BuyStanders provided its wordbond that there would be much breast-beating and wailing at his return to the earth. All were amazed by the greatness of grief inspired by my kin's passing.<br />
                    Thank you, BuyStanders!"
                </blockquote>
                <cite>Hralput Fame-Guest</cite>
            </div>
            <div class="swiper-slide">
                <blockquote>
                    "<i>Compelling</i> is in the eye of the beholder.<br/> 
                    What does it say about a company when it thrives with only limited marketing anda website that looks straight out of 1994?<br />
                    Anyway, thank you BuyStanders for the 'favor'."
                </blockquote>
                <cite>T. G. C. LeForte</cite>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    
    <div class="content-block">
        <h2>How Do I Apply?</h2>
        <p>
            It's quick! It's easy! It's fun! With our patented PerfectPlace process, even <i>you</i> can fulfill requests at our company! See <a href="https://google.com">here</a> for details!
        </p>
    </div>
</div>