@page
@model RecruitCatTreutewm.Pages.OurTeamModel
@section Scripts {
	<script>
		$(document).ready(function() {
			$('#navindex').removeClass('active');
			$('#navourteam').addClass('active');
		});
	</script>
}

<div class="container">
	<div class="employeeprofile">
		<h3>Liam Treutel</h3>
		<h4>Person</h4>
		<img src="/img/png.png" alt="The face of a man who has never known a moment of business school. Look at the unappealing boyishness of his cheeks. The inexperience in his eyes. That man is long gone now, and only I remain." />
		<p>
			Business person. Many relatable qualities. Snappy, informal style to show we're a cutting-edge business rather than some lame old multibillion dollar company.
		</p>
	</div>
	
	<div class="employeeprofile">
		<h3>Jrendan Bones</h3>
		<h4>Accountant</h4>
		<img src="https://lighthousepasco.wordpress.com/wp-content/uploads/2010/06/dog_silhouette_d1.jpg" alt="An individual." />
		<p>Often seen around the river. No other information is available at press time.</p>
	</div>
	
	<div class="employeeprofile">
		<h3>Johan Huizinga</h3>
		<h4>Third Employee</h4>
		<img src="https://www.laphamsquarterly.org/sites/default/files/styles/tall_rectangle_custom_user_large_1x/public/images/contributor/huizinga_360x450.jpg?itok=B6ZJDvJw&timestamp=1423523754" alt="A Dutch scholar, and the author of the Autumntide of the Middle Ages" />
		<p>Would he have been dismayed by his reputation being used as a bauble for a business school assignment? Probably. But also perhaps not.</p>
	</div>
</div>