<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecruitCatTreutewm.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="grid-layout">
        <div class="jumbotron grid-title text-center">
            <h1>BuyStanders</h1>
            <p class="lead">Est. 4</p>
            <p><bold>NOTICE: BuyStanders wishes to apologize for the confusion as to the nature of this project. Had it been known that this silly premise would be carried forth into subsequent weeks, the joke would have been made more coherent.</bold></p>
        </div>
        <div class="nav flex-column nav-pills grid-navbar" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active"  id="navindex" data-toggle="pill" href="/Index" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link"         id="navourteam" data-toggle="pill" href="/OurTeam" role="tab" aria-controls="v-pills-profile" aria-selected="false">Our Team</a>
            <a class="nav-link"         id="navcandindex" data-toggle="pill" href="/Candidates" role="tab" aria-controls="v-pills-profile" aria-selected="false">Candidate List</a>
            <a class="nav-link"         id="navcompindex" data-toggle="pill" href="/Companies" role="tab" aria-controls="v-pills-profile" aria-selected="false">Company List</a>
            <a class="nav-link"         id="navindustryindex" data-toggle="pill" href="/Industries" role="tab" aria-controls="v-pills-profile" aria-selected="false">Industry List</a>
            <a class="nav-link"         id="navtitleindex" data-toggle="pill" href="/JobTitles" role="tab" aria-controls="v-pills-profile" aria-selected="false">Job Title List</a>
        </div>
        <div class="grid-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <div class="border-top footer text-muted grid-footer text-center">
                &copy; 2025 - BuyStanders | 1000 4th Ave, Cincinnati, OH 45000 | (317) 206-4741
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
