html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/* Grids */
.grid-layout {
    display: grid;
    grid-template-areas: 'navbar navbar navbar' '. title .' 'content content content' 'footer footer footer';
}

.grid-title { 
    grid-area: title;
    background-color: cornflowerblue;
}

.grid-navbar {
    grid-area: navbar;
    background-color: palevioletred;
}

.grid-content {
    grid-area: content;
    background-color: palegreen;
}

.grid-footer {
    grid-area: footer;
    background-color: gray;
}

/* Other */
.content-block {
    border-bottom: 1px black solid;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}